body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.pagina1-body {
    font-family: 'Courier New', Courier, monospace;
}

.pagina2-body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.pagina3-body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    font-family: Arial, sans-serif;
    position: relative;
    height: 60px;
    padding: 10px 20px;
    background-color: #ffa033;
    color: #fff;
}

nav {
    position: absolute;
    left: 220px;
    right: 20px;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

body {
    background-color: #fff4b4; 
}

#pagina-1 {
    background-color: hsl(118, 83%, 93%);
}

#pagina-2 {
    background-color: #ffecc2;
}

#pagina-3 {
    background-color: #888888;
}

h1 {
    font-size: 24px;
    font-weight: bold;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

.imagem {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
}

.imagem img {
    width: 200px;
    height: 200px;
}

.banner {
    margin-top: 20px;
}

.info {
    margin-top: 20px;
    text-align: justify;
    padding: 10px;
    margin-left: 130px;
    margin-right: 130px;
    border-radius: 8px;
    font-weight: bold;
    
}

footer {
    margin-top: 50px;
    background-color: hsl(27, 93%, 47%);
    color: #fff;
    padding: 20px 0;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.social-icons a {
    margin: 0 10px;
    display: inline-block;
}

.social-icons img {
    width: 40px;
    height: 40px;
}

.footer-address p {
    margin: 5px 0;
}

header {
    background-color: hwb(34 7% 1%);
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.paragraph {
    margin-bottom: 20px;
}
.image {
    display: block;
    margin: 20px auto;
}
.gallery {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.gallery-item {
    width: 30%;
    margin-bottom: 20px;
}
.gallery-item img {
    width: 100%;
    border-radius: 8px;
}
.gallery-item p {
    text-align: center;
    font-style: italic;
}

fieldset {
    margin-bottom: 20px;
}